// HTML
// ---------
html {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: auto;
}

// BODY
// ---------
body {
  @include sans-serif();
  background: $white;
  color: $basecolor;
  line-height: 1;
  line-height: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
