.Page--plans {
  background: #f7f7f8;
}

.Page--basic {
  background: #ffffff;

  .Header {
    background: #fafafa;
  }
}

.badge {
  background-color: $color-teal;
  border-radius: 2px;
  color: #ffffff !important;
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  margin-left: 0.5rem;
  padding: 0.1rem 0.25rem 0.2rem 0.25rem;
  position: relative;
  text-transform: uppercase;
  top: -2px;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.Section {
  margin: 1rem 0;
}

.Section--large {
  margin: 8rem 0;
}

.Section--light {
  background-color: #f7f7f8;
  padding: 3rem 0;
}

.Header--large {
  color: #222;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1.25rem;
}

// unused
.Header--medium-large {
  color: #222;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 1.25rem;
}

.Header--medium {
  color: #222;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}

// unused
.Header--small {
  color: #222;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.Header--caps {
  color: #222;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.Header--caps--large {
  color: #222;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.Leader,
.Lead {
  font-size: 1.75rem !important;
  font-weight: 300;
  line-height: 1.6;
  margin: 0.5rem 0 1.5rem 0;
}
