table,
.table {
  background: #fff;
  border: 2px solid darken(#f1f5f7, 2%);
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0 15px 30px rgba(102, 137, 160, 0.15);
  display: table;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

thead,
.table__header {
  background: #fafafa;
  display: table-row;
  font-size: 16px;
  font-weight: 700;
}

thead th,
.table__cell--header {
  vertical-align: middle;
  font-weight: 600;
  padding: 12px 10px;
}

.table__body {
  display: table-row-group;
}

tr,
.table__row {
  display: table-row;
}
.table-rel {
  display: block;
  position: relative;
}

.table__row--header {
  background: #ff9900;
  height: 1rem;
  position: relative;
}

.table__colspan-all {
  &:after {
    background: #ff0000;
    content: '';
    display: block;
    height: 1rem;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

tbody,
.table__body {
  tr,
  .table__row {
    &:hover {
      td,
      .table__cell {
        background-color: #fafafa;
        color: #111;
        border-left-color: #fafafa;
        border-right-color: #fafafa;
      }
    }
  }
}

td,
.table__cell {
  border: 2px solid darken(#f1f5f7, 1%);
  display: table-cell;
  padding: 8px 10px 8px 14px;
  vertical-align: middle;
}

.table__cell--empty {
  background-color: lighten(#f1f5f7, 1.5%);
  border-color: #f1f5f7;
}

.table__55 {
  width: 55%;
}

.table__50 {
  width: 50%;
}

.table__30 {
  width: 30%;
}

.table__25 {
  width: 25%;
}

.table__20 {
  width: 20%;
}

.table__15 {
  min-width: 100px;
  width: 15%;
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    box-sizing: content-box;
    margin-left: -2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-x: scroll;
    width: 100%;
  }

  .table-wrapper__inner {
    padding-right: 2rem;
  }

  .table {
    margin: 2rem 0;
  }

  .table--mobile {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    overflow: visible;

    .table__row {
      margin: 20px 0;
      background: #fff;
      border: 1px solid #f1f5f7;
      border-radius: 4px;
      box-shadow: 0 5px 10px rgba(102, 137, 160, 0.15);
    }

    .table__cell {
      border: none;
      width: 50%;

      &:last-child {
        border-left: 1px solid #f1f5f7;
      }
    }

    .table,
    .table__row,
    .table__cell--header {
      display: block;
      width: 100%;
    }

    .table__cell--header {
      background: #fafafa;
      border-bottom: 1px solid #f1f5f7;
      font-size: 16px;
      text-align: center;
    }
  }
}
