// Colors (Imported from Docs Repo)
$color-blue-light: #edf3f5;
$color-blue-vivid: #0cacc4;
$color-blue-dark: #394c58;

$color-text-dark: #0e171a;
$color-text: #5c6365;

$color-divider: rgba(25, 61, 89, 0.2);

$color-primary: #4ec1e0;
$color-teal: #00d494;
$color-barometer: #e04fa8;
$color-certified-pipelines: #4655c7;
$color-installed-spinnaker: #4655c7;
$color-integrations: #fa9a25;
$color-sla-dashboard: #74db46;
$color-pro-svcs: #74db46;

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1240px;
  }
}
// Old Variables

// Default
$basecolor: #000;

// Colors
$white: #fff;
$black: #000;

// Typography
$baseFontSize: 12;
$baseLineHeight: 18px;
$textColor: $basecolor;
