.ButtonGroup {
  margin: 1.5rem 0;

  .Button {
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }
  }

  .Button + .Button {
    margin-left: 1.5rem;
  }
}

.Button--block {
  display: block;
  width: 100%;
}

.Button {
  background-color: #00d494;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.875rem 1.25rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(0);
  transition: all 0.25s linear;

  &:after {
    display: none;
  }

  &:hover {
    background: darken(#00d494, 1%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    cursor: pointer;
    transform: translateY(-2px);
  }

  &:active {
    background: darken(#00d494, 3%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #eeeeee;
    transition: none;
    transform: translateY(1px);
  }
}

.Button--light {
  background-color: #ffffff;
  color: #00d494;

  &:hover {
    background-color: #ffffff;
    color: darken(#00d494, 2%);
  }
}

.Button--purple {
  background-color: #4655c7;
  color: #ffffff;

  &:hover {
    background-color: #4655c7;
    color: darken(#ffffff, 2%);
  }
}

.Button--purple-main {
  background-color: #4655c7;
  color: #ffffff;
  font-size: 1.275rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.875rem 1.25rem;

  &:hover {
    background-color: #4655c7;
    color: darken(#ffffff, 2%);
  }
}

.Button--small {
  padding: 0.5rem 0.875rem;
}

.ButtonGroup--align-center {
  justify-content: center;
}

@include media-breakpoint-down(sm) {
  .Button-xs-block {
    display: block;
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .ButtonGroup {
    display: flex;
    max-width: 100%;

    .Button {
      padding-left: 0.875rem;
      padding-right: 0.875rem;
      flex: 1 0 auto;
      white-space: nowrap;
    }
  }
}
