<footer class="Footer">
	<div class="Wrapper__inner Row">
	<div class="Footer__left">
		<a href="//www.armory.io" class="Footer__logo" alt="Armory Logo"><img src="/images/logo-reversed.svg" height="38" /></a>
		<a href="//go.armory.io/install" class="btn btn-blue">Install Armory Spinnaker</a>
		<div class="Footer__contact-info">
			<a href="tel:18882223370"><span class="item-phone">1-888-222-3370</span></a>
			<a href="mailto:hello@armory.io" class="item-email">hello@armory.io</a>
		</div>
	</div>
	<div class="Footer__right">
		<div class="Footer__list">
			<h2 class="Footer__header">Products</h2>
			<ul>
				<li><a href="//www.armory.io/">Armory Spinnaker</a></li>
			</ul>

			<h2 class="Footer__header">Resources</h2>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/channel/UC9ESNuSCMXLsdRdBDhjSzcA/videos">Videos</a></li>
				<li><a target="_blank" href="http://blog.armory.io">Blog</a></li>
				<li><a target="_blank" href="http://kb.armory.io">Knowledge Base</a></li>
			</ul>
		</div>
		<div class="Footer__list">
			<h2 class="Footer__header">Company</h2>
			<ul>
				<li><a href="//www.armory.io/tribe.html">About</a></li>
				<li><a href="//www.armory.io/privacy.html">Privacy</a></li>
				<li><a href="//www.armory.io/terms.html">Terms</a></li>
				<li><a target="_blank" href="https://jobs.lever.co/armory">Jobs</a></li>
			</ul>

			<h2 class="Footer__header">Docs</h2>
			<ul>
				<li><a target="_blank" href="http://www.spinnaker.io/docs">Spinnaker Docs</a></li>
				<li><a target="_blank" href="http://docs.armory.io">Armory Docs</a></li>
			</ul>
		</div>
		<div class="Footer__list">
			<h2 class="Footer__header">Community</h2>
			<ul>
				<li><a target="_blank" href="http://join.spinnaker.io/">Slack</a></li>
				<li><a target="_blank" href="https://github.com/armory-io">Github</a></li>
				<li><a target="_blank" href="http://stackoverflow.com/search?q=spinnaker">StackOverflow</a></li>
				<li><a target="_blank" href="https://twitter.com/cloudarmory">Twitter</a></li>
			</ul>
		</div>
	</div>
	</div>
</footer>
