<header class="Header" role="banner">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <a class="Header__logo" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">
    <img src="/assets/images/logo.svg" />
  </a>

  
  <nav class="Nav">
      <ul class="Nav-list">
        <li class="Nav-list__section">
          <h3 class="Header--tiny">Overview</h3>
          <ul>
            {% for link in site.overview %}
              <li><a class="Nav-list__link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="Nav-list__section">
          <h3 class="Header--tiny">User Guides</h3>
          <ul>
            {% for link in site.user_guides %}
              <li><a class="Nav-list__link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="Nav-list__section">
          <h3 class="Header--tiny">Admin Guides</h3>
          <ul>
            {% for link in site.admin_guides %}
              <li><a class="Nav-list__link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="Nav-list__section">
          <h3 class="Header--tiny">Other</h3>
          <ul>
            <li><a class="Nav-list__link" href="/release-notes">Release Notes</a></li>
          </ul>
        </li>
      </ul>
  </nav>
</header>