html {
	font-family: 'Open Sans', 'Helvetica', 'Helventica Neue', 'Arial', sans-serif;
	// font-size: 10px;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 1.25rem;
}

.github-corner svg {
  z-index: 100000;
  color: #fff !important;
  fill: $color-blue-vivid !important;
}


// Adjust base font size on wide and ultra wide monitors
// to scale up web page accordingly.

// @media screen and (min-width: 1440px) {
// 	html {
// 		font-size: 12px;
// 	}
// }

// @media screen and (min-width: 1980px) {
// 	html {
// 		font-size: 14px;
// 	}
// }

// @media screen and (min-width: 2970px) {
// 	html {
// 		font-size: 16px;
// 	}
// }

div.deprecation-warning {
  min-height: 70px;
  background-color: lightgray;
  background-image: url("/images/warning.png");
  background-repeat:  no-repeat;
  background-position: 10px 30px;
  background-size: 50px 50px;
  padding: 15px 10px 15px 75px;
  vertical-align: middle;
}

div.alpha-warning {
  background-color: #ffe082;
  background-image: url(/images/warning.png);
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-size: 20px 20px;
  padding: 15px 10px 15px 40px;
  vertical-align: middle;
  border-radius: 4px;
}

div.experimental-warning {
  background-color: #ffe082;
  border: 1px solid red;
  background-image: url(/images/warning.png);
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-size: 20px 20px;
  padding: 15px 10px 15px 40px;
  vertical-align: middle;
  border-radius: 4px;
}

