html {
	font-family: 'Open Sans', 'Helvetica', 'Helventica Neue', 'Arial', sans-serif;
	font-size: 10px;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0;
	padding: 2rem;
}
