.TextHeader--jumbo {
  font-size: 2.625rem;
}

.TextHeader--xlarge {
  font-size: 2.25rem;
}

.TextHeader--large {
  font-size: 1.875rem;
}

.TextHeader--medium {
  font-size: 1.5rem;
}

.TextHeader--small {
  font-size: 1.125rem;
  line-height: 1.5;
}

.TextHeader {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.TextHeader--weight--light {
  font-weight: 300;
}

.TextHeader--weight--normal {
  font-weight: 500;
}

.TextHeader--weight--heavy {
  font-weight: 600;
}

.TextHeader--color--dark {
  color: #4a4a4a;
}

.TextHeader--color--light {
  color: #666;
}

.TextHeader--color--white {
  color: #ffffff;
}
