.Nav-list {
	list-style: none;
	padding: 0;

	ul {
		list-style: none;
		padding: 0;
	}

	a {
		text-decoration: none;
	}
}

.Nav-list__section {
	border-bottom: 1px solid darken($color-blue-light, 10%);
	margin-bottom: 2.4rem;
	padding-bottom: 1.4rem;

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.Nav-list__link {
	display: block;
	font-size: 1.3rem;
	line-height: 1;
	padding: 1rem 3rem 1rem 0;
	position: relative;

	&.is-active {
		color: $color-blue-vivid;
		font-weight: 700;

		&:before {
			background: $color-blue-vivid;
			border-radius: 0.2rem;
			content: '';
			display: block;
			left: -1.5rem;
			height: 90%;
			position: absolute;
			top: 5%;
			width: 0.4rem;
		}
	}
}
