.Header {
	background: $color-blue-light;
	padding-top: 2.4rem;

	a {
		color: $color-text-dark;

		&:hover {
			color: $color-blue-vivid;
		}
	}
}

.Header__logo {
	display: block;
	margin-bottom: 3.2rem;
}