.Header {
	background: $color-blue-light;
	flex: 1 1 33.33%;
	padding: 4rem 0 0 3rem;	

	a {
		color: $color-text-dark;

		&:hover {
			color: $color-blue-vivid;
		}
	}
}

.Header {
	
}

.Header__logo {
	display: block;
	margin-bottom: 3.2rem;
}