.Card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.Card--light {
  background-color: #fafafa;
  border: #f1f5f7 2px solid;
  box-shadow: none;
}
